@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    font-family: 'Press Start 2P', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #03073B;
    height: 100vh;
    position: relative;
    margin: 0;
    overflow-x: hidden; 
    overflow-y: auto; 
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("BG-image.png");
    background-size: 200px;
    opacity: 0.1;
    z-index: -1;
}

.game-container {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    gap: 30px;
    width: 90%;
    max-width: 450px;
    background-color: rgba(0, 0, 0, 0.2);
    height: fit-content;
    padding: 25px;
    border: 3px solid #2CFEFF;
    border-radius: 20px;
    box-shadow: 0 0 30px #00f;
    margin: auto;
    transition-duration: 200ms;
}

.players {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}

.player-card {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    background: rgba(255, 255, 255, 0.1);
    position: relative;
}

.player-1 {
    border: 3px solid #1DD5ED;
    box-shadow: 0 0 20px #1DD5ED;

}

.player-2 {
    border: 3px solid #DF2136;
    box-shadow: 0 0 20px #DF2136;
}

.player-card img {
    width: 50px;
    border-radius: 50%;
    border: 2px solid white;
    margin-bottom: 10px;
}

.player-name {
    color: white;
    font-size: 10px;
}

.scoreboard {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 10px #2CFEFF;
    color: white;
    font-size: 12px;
    text-align: center;
}

.score {
    padding: 8px;
    border-radius: 5px;
}

#player-1-score {
    color: #1DD5ED;
}

#player-2-score {
    color: #DF2136;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    width: 100%;
    max-width: 300px;
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 15px;
    border: 3px solid #2CFEFF;
    box-shadow: 0 0 20px #1DD5ED;
}

.cell {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    font-weight: bold;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    border: 2px solid #2CFEFF;
    transition-duration: 300ms;
    
}

.cell.o {
    color: #DF2136;
    text-shadow: 0 0 15px #DF2136;
    transition-duration: 0ms;
}

.cell.x {
    color: #1DD5ED;
    text-shadow: 0 0 15px #1DD5ED;
    transition-duration: 0ms;
}

.player-name-input {
    background: transparent;
    border: none;
    /* border-bottom: 2px solid white; */
    color: white;
    text-align: center;
    font-size: 12px;
    font-family: 'Press Start 2P', cursive;
    outline: none;
    width: 80%;
}

.player-name-input-main {
    background: transparent;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    text-align: center;
    font-size: 12px;
    font-family: 'Press Start 2P', cursive;
    outline: none;
    width: auto;
    /* height: 15px */
}

.player-name-input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.x-symbol {
    color: #1DD5ED;
    text-shadow: 0 0 15px rgba(29, 213, 237, 0.8);
}

.o-symbol {
    color: #DF2136;
    text-shadow: 0 0 15px rgba(223, 33, 54, 0.8);
}

.player-symbol.o-symbol{
    margin-top: 10px;
}

.player-symbol.x-symbol{
    margin-top: 10px;
}

.maindiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10%;
    width: 40%;
    height: 80%;
    border: 3px solid #2CFEFF;
    border-radius: 10px;
    box-shadow: 0 0 20px #00f;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.2);
}

.game-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 4em;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.o {
    color: #DF2136;
    text-shadow: 0 0 20px rgba(223, 33, 54, 0.8), 0 0 30px rgba(223, 33, 54, 0.8);
}

.x {
    color: #1DD5ED;
    text-shadow: 0 0 25px rgba(29, 213, 237, 0.8), 0 0 30px rgba(29, 213, 237, 0.8);
}

.game-word {
    color: #DF21C6;
    text-shadow: 0 0 20px rgba(223, 33, 198, 0.9), 0 0 30px rgba(223, 33, 198, 0.8);
}

.button {
    font-family: 'Press Start 2P', cursive;
    font-size: 14px;
    width: 80%;
    margin-top: 20px;
    padding: 15px 20px;
    background-color: #F3C64B;
    color: white;
    border: 3px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0px 0px 10px #F3C64B;
}

#btn-start, #btn-new{
    margin: 0;
}

.button:hover {
    background-color: #ffcc00;
    color: white;
    box-shadow: 0px 0px 20px rgba(255, 223, 0, 1);
    transform: scale(1.01);
}

.cell:hover{
    transition-duration: 200ms;
    box-shadow: 0 0 20px #ffffff;
}