* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #fff;
    color: #333;
}



/* Main Division Number 1 Start */

.main-div1 {
    height: 80vh;
    background-image: url("image-hero.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5% 10%;
    color: white;
}

.main-div1 div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-div1 > div > h1 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s ease;
}

.main-div1 > div > h1:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.main-div1 > div > div {
    display: flex;
    gap: 20px;

}

.main-div1 > div > div p:hover {
    color: #ff6600;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
    position: relative;
}

.main-div1 > div > div p::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #ff6600;
    bottom: -5px;
    left: 0;
    transition: width 0.3s ease-in-out;
}

.main-div1 > div > div p:hover::after {
    width: 100%;
}

.main-div1 > div:last-child {
    font-weight: 300;
    max-width: 50%;
    color: white;
    font-size: 60px;
    padding: 20px;
    border: 2px solid white;
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: 3px;
}

/* Main Division Number 1 End */





/* Main Division Number 2 Start */

.main-div2 {
    display: flex;
    gap: 50px;
    padding: 5% 10%;
    position: relative;
}

.main-div2 div:last-child { /*.image-container */
    width: 60%;
}

.main-div2 div:last-child img {
    width: 100%;
    display: block;
}

.main-div2 > div:first-child { /* .text-container */
    background-color: white;
    position: absolute;
    bottom: 11%;
    right: 12%;
    width: 40%;
    height: fit-content;
    padding: 50px 100px 0 80px;
}

.main-div2 > div:first-child h2 {
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 10%;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.main-div2 > div:first-child p {
    font-size: 12px;
    line-height: 1.5;
    color: #555;
}

/* Main Division Number 2 End */








/* Media Queries Start */

@media (max-width: 400px) {
    .main-div1 {
        height: 100vh;
        padding: 5% 5%;
    }

    .main-div1 div:first-child {
        flex-direction: row;
        gap: 20px;
    }

    h1 {
        font-size: 20px;
    }

    .info {
        display: none;
    }

    .main-div1 div:first-child::after {
        content: '';
        display: block;
        width: 24px;
        height: 24px;
        background: url('pngegg.png');
        background-size: cover;
        cursor: pointer;
    }

    .main-div1 > div:last-child {
        max-width: 100%;
        font-size: 50px;
        padding: 10px;
        border: 1px solid white;
        line-height: 1.1;
        letter-spacing: 2px;
        margin-bottom: 50%;
    }

    .main-div2 {
        flex-direction: column;
        gap: 20px;
        padding: 5% 5%;
    }

    .main-div2 div:last-child {
        margin-top: 20%;
        width: 100%;
        order: 1;
    }

    .main-div2 > div:first-child {
        position: static;
        width: 100%;
        padding: 5%;
        background-color: transparent;
        order: 2;
        text-align: center;
    }

    .main-div2 > div:first-child h2 {
        font-size: 30px;
        margin-bottom: 5%;
    }

    .main-div2 > div:first-child p {
        font-size: 14px;
    }
}

/* Media Queries End */